<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Seja-Bem vindo</title>
    <style>
        body {
            background-image: url(agro_e_vida.jpg);
            background-size: cover;
            background-repeat: no-repeat;
        }
        .fiel{
            margin-top: 10px;
        }
        .but{
            background-color: black;
            left: 10%;
            font: Arial 17pt;
            color: azure;
        }

    </style>
</head>

<body>
    <fieldset class="fiel"><center>

        <h1>
            Menu princial
        </h1>
        <br>
        <br>
        <div>
            <a href="form">
                <button class="but">
                    Central de atendimento ao cliente
                </button>
            </a>
        </div>
        <br>
        <div class="admin">
            <a href="sec"> 
                <button class="but">
                    Entrar como administrador
                </button>
            </a>
        </div>

        <br>
        <br>

        <div>
            <a href="prod">
                <button class="but">
                    Ver catalogo de produtos
                </button>
            </a>
        </div>
    </fieldset></center>

</body>

</html>